article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.App {
  text-align: center;
  
}

:root {
  --background: #1c1b4d;
  --brightColour: #b80e65;
  --lowColor: #3573a5;
  --darkColour: #004445;
  
}

html {
  color: white;
  background-color: var(--background);
  font-size: 125%;
  
}

body {
  font-family: 'Bellota Text', cursive;
}

h1 {
  font-family: 'Monoton', cursive;
  color: gold;
  text-align: center;
  border-bottom: 3px solid;
  margin: 0 auto;
  width: 80%;
  
}

h1 span{
  color: rgb(255, 0, 106);
}

ul, li,p, h4 {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  padding: 5px;
}

/* Buttons and inputs */

button {
  margin: 20px 0;
  color: white;
  width: 30%;
  border-radius: 5px;
  padding: 10px 0px;
  background-color: var(--lowColor);
  border: none;
  box-shadow: 3px 3px 0px gold;
  transition: all 0.5s;
}

button:disabled {
  opacity: 0.5;
}

input {
  border-radius: 5px;
  border: solid 1px;
  padding: 5px 10px;
}




button:hover:enabled, .rouletteDiv button:hover:enabled, .questionContainer button:hover:enabled, button:focus:enabled, .rouletteDiv button:focus:enabled, .questionContainer button:focus:enabled {
  background-color: gold;
  box-shadow: 5px 5px 0px var(--background);
  color: var(--background);
  font-size: 1rem;
  font-weight: bolder;
}

input[type="checkbox"]:checked + label, input[type="checkbox"] + label:hover, input[type="checkbox"]:focus + label {
  box-shadow: 0px 0px  5px 3px var(--lowColor);
  color: gold;
}

input[type="radio"]:checked + label, input[type="radio"]:focus + label, input[type="radio"]:hover + label {
  box-shadow: 0px 0px  5px 3px var(--background);
  background-color: gold;
  color: var(--background);
  font-weight: bolder;
}

input[type="radio"]:enabled:not(:checked):focus + label {
  background-color: white;
}

input[type="checkbox"], input[type="radio"] {
  opacity: 0;
}

input[type="checkbox"] + label {
  background-color: var(--brightColour);
}

label {
  cursor: pointer;
  width: 100%;
  display: block;
  text-align: center;
  height: 100%;
  transition: all 0.5s;
  
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

/* GameBoard  */

.gameBoard {
  min-height: 85vh;
}

/* Roulette styling */

.rouletteDiv h2 {
  color: gold;
  font-size: 1.3rem;
  animation: jello-horizontal 0.9s both;
}

.spinning > li {
  transform: translateY(-75px);
  transition: all 0.5s;
}

.rouletteDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto 30px;
  background-color: var(--lowColor);
  padding: 20px;
  box-shadow: 15px 15px 0px var(--brightColour);
  border-radius: 5px;
}


.rouletteCategory {
  border: solid;
  color: var(--background);
  width: 500px;
  padding: 20px;
  background-color: white;
  font-weight: bolder;
}

.rouletteCategory span {
  color: var(--brightColour);
  
  text-transform: uppercase;
  
}

.rouletteDiv button, .questionContainer button{
  width: 50%;
  margin: 5px;
  background-color: var(--background);
}


.rouletteRadioButtons {
  display: flex;
  width: 80%;
  padding: 20px;
}

.rouletteRadioButtons label {
  width: calc(100% / 3);
  background-color: rgb(231, 230, 230);
  color: var(--background);
  border: solid var(--background) 2px;
  margin: 5px;
  padding: 20px;
  border-radius: 5px;
  font-weight: normal;
}

/* Topic Selection Styling */

.selectTopicDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--background);
}

.topicsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 20px;
  margin-bottom: 20px;
}

.topicsContainer label {
  border-radius: 5px;
  padding: 5px;
  border: solid 1px ;
 
  
}

.topicElement {
  font-size: 0.8rem;
  
}

.playersNames {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;

}

.playersNames input:nth-child(2) {
  margin-right: 50px;
}

.playersNames label {
  text-align: start;
  padding-right: 10px;
  height: 31px; 
}

/* Questions stylig */

.questionContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%,-50%);
  border: solid;
  background-color: var(--lowColor);
  padding: 30px;
  text-align: center;
  box-shadow: 0px 0px 30px gold;
   border-radius: 5px;
}



.questionContainer h3 {
  font-size: 1.5rem;
  color: gold;
  text-shadow: 1px 1px 1px var(--background);
  /* text-align: start; */
  /* padding:  0px 20px; */
  width: 100%;
  /* margin: 0 auto; */
}

.options {
  margin-top: 50px;
}

/* Score Board Styling */


.playersScores {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.scoreBoard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.scoreBoard span {
  color: gold;
}

.scoreBoard h3 {
  color: gold;
  font-size: 1.3rem;
}


.scoreBoard p:nth-child(2){
  font-size: 1.5rem;
  font-weight: bolder;
  color: var(--brightColour);
  /* text-shadow: 0px 0px 5px white; */
}

/* Alert Styling */

.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  box-shadow: 0px 0px 115px var(--background);
  height: 40vh;
  transform: translate(-50%,-50%);
  border: solid gold;
  background-color: var(--brightColour);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  padding: 30px;

}

.alert p {
  font-size: 1.5rem;
  color: white;
}

/* Footer */

footer p{
  text-align: center;
  border-top: solid 2px gold;
  padding-top: 5px;
  margin: 0 auto;
  width: 80%;
}

/* Media Queries */

@media (max-width: 960px){
  .rouletteDiv {
    font-size: 0.8rem;
  }

  .rouletteRadioButtons {
    width: 100%;
    padding: 20px 0
  }
}

@media (max-width : 800px){
  .playersNames {
    flex-wrap: wrap;
  }

  .playersNames input {
    width: 70%;
  }

  .playersNames input:nth-child(2), .playersNames label:nth-child(1) {
    margin: 0px 0 20px;
  }

  .playersNames label {
    width: 25%;
  }

  .wrapper {
    width: 85%;
  }

  .alert {
    width: 60%;
  }
}

@media (max-width: 650px) {
  .topicsContainer {
    grid-template-columns: repeat(2, 2fr);
  }

  .questionContainer {
    font-size: 0.8rem;
  }

  .questionContainer button {
    width: 90%;
  }

  .rouletteCategory {
    width: 90%;
    height: 100px;
  }

  .rouletteRadioButtons {
    flex-direction: column;
  }

  .rouletteRadioButtons label {
    width: 100%;
  }
  .alert {
    width: 90%;
    
  }

  .alert p {
    font-size: 1.2rem;
  }

  
}

@media (max-width: 400px) {

  .rouletteDiv {
    box-shadow: none;
  }
  .topicsContainer {
    grid-template-columns: repeat(1, 2fr);
  }

}

/* ----------------------------------------------
 * Generated by Animista on 2020-3-23 16:19:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}

